<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |picture| %>
    <li class='error-message'><%= picture %></li>
    <% end %>
  </ul>
</div>
<% end %>